.co{
    padding-left: 10%;
}

.cl{
    padding-top: 5%;
}

h5{
    padding-top: 3%;
}

.c{
    padding-left: 10%;
    
}

.body{
    background-color: black;
    color: whitesmoke;
    background-image: url("https://images.unsplash.com/photo-1574318925623-9133d9ecb504?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3%;
    overflow-x: hidden;
}

body{
    background-color: black;
    color: whitesmoke;
    max-height: 100;
    overflow-x: hidden;
}

#ia:hover{
    zoom: 1.1;
}


.port{
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 2rem;
}

.nav-item{
    padding-right: 2.5rem;
}

.nav-item:hover{
    zoom: 1.2;
}

p{
    font-size: 28px;
    padding-top: 100px;
}

#head{
    padding-top:0;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 3.5rem;
}

#nor{
    padding: 0;
    font-size: 19px;
}

#mor{
    padding-top: 30px;
    font-size: 21px;
}

.ic{
    padding-left: 36px;
    font-size: 2.4rem;
}

.ico{
    color: whitesmoke;
}

.ico:hover{
    zoom: 1.1;
    color: white;
}

.bt{
    margin-top: 30px;
    color: white;
    align-content: space-between;
}

.bt:hover{
    background-color: white;
    color: black;
}

.s{
    background-color: white;
    color: black;
    padding-left: 10%;
    padding-bottom: 5%;
    overflow-x: hidden;
}

#g{
    padding-left: 10%;
}

.ul{
    font-size: 1.2rem;
}

.li{
    padding-bottom: 2%;
}

.l{
    background-image: url("https://images.unsplash.com/photo-1585301654483-722f85983448?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2047&q=80");
    overflow-x: hidden;
    padding-bottom:2%;
    max-height: 100%;
}

.card{
    color: black;
}

.card-deck{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    height: 10%;
}

.cs{
    text-align: center;
    padding-top: 4%;
}

.card-title{
    padding-bottom: 0%;
}

.card-text{
    padding-top: 0%;
    font-size: 1rem;
}

.e{
    background-color: rgb(242, 242, 242);
    color: black;
    padding-bottom: 2%;
}

#p{
    padding-top: 0%;
    color: rgb(40, 40, 40);
    font-size: 1.4rem;
}

.rc:hover{
    zoom: 1.1;
}

.f{
    background-image: url("https://images.unsplash.com/photo-1457052002176-2d16a4f4a3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    padding-bottom: 4%;
}

.cf{
    text-align: end;
    padding-top: 5%;
}

.h4{
    padding-right: 45%;
}

.hw:hover{
    color: rgb(200 , 50, 50);
}

.carousel-item{
    text-align: center;
    font-size: 1.2rem;
}


